<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"Calculation" | translate}}</h3>

 <div class="scroll">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-3">
            <p class="errmsg" *ngIf="loadedboats == null">{{ "No Boats Available" | translate }}</p>
            <ul class="list-group" *ngFor="let boat of loadedboats">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-3 inline-para">
                            <!-- <span style="float: right;">{{ boat.createdDate }}</span> -->
                            <p class="left">{{ "Boat Name" | translate }}</p> <p class="right">{{ boat.boatName }}</p>
                            <br>
                            <p class="left">{{ "Boat Number" | translate }}</p> <p class="right">{{ boat.boatNumber }}</p>
                            <br>
                            <p class="left" *ngIf="boat.description == null">{{ "Description" | translate }}</p> <p class="right" *ngIf="boat.description == null">{{ boat.discription }}</p>
                            <br>
                            <button (click)="onViewTrips(boat.id)" class="btn btn-sm">{{ "View Trips" | translate }}</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
 </div>


</div>