<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">Customer List</h3>

    
        <span class="help-block msg" *ngIf="success == true">{{ "Request Sent Successfully!!" | translate }}</span>
        <span class="help-block errmsg" *ngIf="msg == true">{{ "Failed to send request Try again!" | translate }}</span>
    
        <div class="scroll">
            <div class="form-group">
                <ul class="list-group">
                <li *ngFor="let customer of loadedcustomer">
                    <div class="row">
                        <p class="customer-name">{{ customer.customer }}</p>
                        <button class="btn btn-success" type="button" (click)="onAccept(customer.id)" class="btn btn-sm">
                            {{ "Accept" | translate }}
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onDelete(customer.id)" class="btn btn-sm">
                            {{ "Delete" | translate }}
                        </button>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    

</div>