.body{
    background-color: #333399;
    font-family: 'century Gothic';
    font-weight: bold;
    height: auto;
    position: relative;
    
}
.navbar{
    border: none;
    display: inline-block;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.navbar-brand {
    display: contents;
}
.logo{
    float: left;
    width: 40%;
}

.logout{
    float: right;
    width: 10%;
    margin-top: 5%;
    margin-right: 3%;
}