body{
    background-image: url("../Images/headerBackground.png"); 
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'century Gothic';
    font-weight: bold;
    height: auto;
    position: relative;
}

.logo{
    background-image: url("../Images/Logo-01.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* padding: 20%; */
    padding-bottom: 14%;
    width: 38%;
    float: left;
}

.logout{
    background-image: url("../Images/logout_butn.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 12%;
    padding-right: 6%;
    float: right;
}