.body{
    background-color: black;
    font-family: 'century Gothic';
    font-weight: bold;
    height: 70px;
    position: relative;
    border-top: 1px solid grey;
}

a{
    padding: 0px;
    margin-top: 3%;
    margin-left: 12%;
}

a.right{
    float: right;
    margin-right: 12%;
}

span.right{
    color: white;
    text-transform: uppercase;
    float: right;
    font-size: small;
    /* margin-left: 36%; */
    margin-right: 20%;
}

.btn-name{
    color: white;
    text-transform: uppercase;
    font-size: small;
    margin-left: 18%;
}

