<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"My Boat" | translate}}</h3>
    
    <form (ngSubmit)="onStartTrip(f)" #f="ngForm">
        <div class="form-group col-xs-12" *ngIf="tripActive != true">   
            <label for="boat" class="btn-trip">{{"Select Boat" | translate}}</label>
            <select id="boat" class="form-control" name="boatid" ngModel required>
                <option *ngFor="let boat of loadedBoats" value="{{boat.id}}">{{boat.boatName}} ({{boat.boatNumber}})</option>
            </select>
        </div>
        <button type="submit" class="btn btn-sm btn-trip">
            {{ tripActive ? "End trip" : "Start New Trip" }}
        </button>
    </form>
    <div class="group-btn">
        <button (click)="onMyBoat()" class="btn btn-lg">{{ "My Boat" | translate }}</button>
        <button (click)="onAddCrew()" class="btn btn-lg">{{ "Add Crew" | translate }}</button>
        <button (click)="onAddExpense()" class="btn btn-lg" [disabled]="tripActive != true">{{ "Add Expenses" | translate }}</button>
        <button (click)="onAttendence()" class="btn btn-lg" [disabled]="tripActive != true">{{ "Attendence" | translate }}</button>
        <button (click)="onAuction()" class="btn btn-lg" [disabled]="tripActive != true">{{ "Auction Platform" | translate }}</button>
        <!-- <a (click)="onMyBoat()" class="btn btn-lg">
            <img src="../../assets/Images/.png"/>
        </a>
        <a (click)="onAddExpense()" class="btn btn-lg">
            <img src="../../assets/Images/.png"/>
        </a>
        <a (click)="onAttendence()" class="btn btn-lg">
            <img src="../../assets/Images/.png"/>
        </a>
        <a (click)="onAuction()" class="btn btn-lg">
            <img src="../../assets/Images/.png"/>
        </a> 
        <a (click)="onAddCrew()" class="btn btn-lg">
            <img src="../../assets/Images/.png"/>
        </a> -->
    </div>
</div>
    