<div class="body">
<a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
<h1 class="header">LOGIN</h1>

    <form (ngSubmit)="onLogin(f)" #f="ngForm">
    
    <div class="form-group">
        <!-- <label for="username">{{ "Username" | translate }}</label> -->
        <input type="username"
        class="form-control username" 
        id="username"
        name="username" 
        placeholder="Username" 
        ngModel
        required>
    </div>
    <div class="form-group">
        <!-- <label for="password">{{ "Password" | translate }}</label> -->
        <input type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Password" 
        ngModel
        required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-sm" [disabled]="!f.valid">{{ "Login" | translate }}</button>
    </div>
    <span class="help-block errmsg" *ngIf="msg == true">{{
      "Invalid Username / Password " | translate
    }}</span>
    <span class="help-block errmsg" *ngIf="msg == true">{{
      "*Username & Password are case-sensitive." | translate
    }}</span>
    <div class="form-group">
        <p class="text">{{ "You Don't have an account?" | translate }}</p>
        <button type="button" class="btn btn-sm reg" (click)="onRegister()">{{ "Register Now" | translate }}</button>
    </div>
</form>
</div>