.errmsg{
    color: red;
    font-family: 'century Gothic';
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.msg{
    color: greenyellow;
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    background-image: url("../../assets/Images/AddFishBG-01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'century Gothic';
    font-weight: bold;
    position: relative;
    height: auto;
}

.backbtn{
    margin: 2%;
    margin-left: 10%;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.line {
  border: solid white;
  border-width: 0 0px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: -10px;
}

.header{
    font-family: 'century Gothic';
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 66%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

button {
    background-color: #333399;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2% 10%;
    border-radius: 20px;
    padding: 2px 25px;
    width: 80%;
  }


input, select, option, optgroup{
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    color: black;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0% 10%;
    border-radius: 20px;
    padding: 2px 25px;
    font-weight: bold;
    width: 80%;
}
/* input#size {
    margin-right: 0%;
} */
.extras-right {
    box-shadow: 0px 0px 5px grey;
    border: none;
    margin-right: 10%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* input#price {
    margin-left: 0%;
    margin-right: 0%;
} */
.extras-left {
    box-shadow: 0px 0px 5px grey;
    border: none;
    margin-left: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
input#damaged{
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    color: black;
    border: none;
    display: inline-block;
    margin-left: 10%;
    margin-right: 3%;
    border-radius: 20px;
    width: 25px;
    height: 25px;
}

select{
    text-overflow: ellipsis;
}
label{
    color: #140c68;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2% 10%;
    font-weight: bold;
    width: 80%;
}

label.damaged{
    color: #140c68;
    margin: 0px;
    width: 71%;
    color: black;
    font-size: 16px;
    vertical-align: super;
}

form div:first-child{
    margin-top: 10%;
}
form{
    margin-bottom: 4%;
}






