.errmsg{
    color: orange;
    font-family: 'century Gothic';
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width:100%
}

.body{
    background-image: url("../../assets/Images/LoginBg-01.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: 'century Gothic';
    font-weight: bold;
    position: relative;
    height: auto;
}

.backbtn{
    background-image: url("../../assets/Images/Back-Button_03.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 3%;
    margin: 2%;
    margin-left: 10%;
}

.header{
    font-family: 'century Gothic';
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 60%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

button {
    background-image: url("../../assets/Images/buttonstartbidding_03.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: White;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    width: 70%;
    padding: 5% 10%;
    margin-left: 25%;
    margin-right: 5%;
  }

.bdbuttons{
    border: none;
    display: inline-block;
    width: 100%;
    margin: 0% 2%;
}

.btn-addfish{
    float: left;
}

.btn-history{
    float: right;

}
  
.fishname{
    color: darkblue;
    width: 80%;
    margin: 1% 10%;
    text-align: center;
    font-weight: bold;
}

.list-group-item{
    padding: 2%;
    margin: 2px;
    border-radius: 12px;
}

.row{
    padding: 2%;
}

div .left{
    float: left;
    text-align: center;
    width: 55%;
}

div .right{
    float: left;
    width: 45%;
    font-size: 14px;
    font-weight: bold;
}

.footer{
    background-image: url("../../assets/Images/wave_02.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10%;
}

