.errmsg{
    color: orange;
    font-family: 'century Gothic';
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    
    background-color: #585858;
    min-height: 100vh;
    font-family: 'century Gothic';
    font-weight: bold;
    position: relative;
    height: auto;
}

.backbtn{
    margin: 2%;
    vertical-align: middle;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.line {
  border: solid white;
  border-width: 0 0px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: -10px;
}

.header{
    font-family: 'century Gothic';
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 66%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

button {
    background-color: white;
    color: grey;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    width: 70%;
    padding: 5% 10%;
    /* margin-left: 25%; */
    float: right;
    margin-right: 5%;
    margin-top: 30%;
}

.content{
    overflow-y: auto;
}

.bdbuttons{
    border: none;
    display: block;
    width: 100%;
}

.btn-addfish{
    float: left;
    width: 30%;
    padding: 4% 3%;
    margin-left: 4%;
    margin-right: 0%;
    margin-top: 0%;
}

.btn-history{
    float: right;
    width: 30%;
    padding: 4% 3%;
    margin-left: 0%;
    margin-right: 4%;
    margin-top: 0%;
}
  
.fishname{
    color: white;
    font-weight: bold;
    width: 80%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.list-group-item{
    padding: 2%;
    margin: 2px;
    border-radius: 12px;
    background-color: #1C2833;
    color: white;
    border: none;
}

.row{
    padding: 1%;
}

div .left{
    float: left;
    text-align: center;
    width: 55%;
}

div .right{
    float: left;
    width: 45%;
    font-size: 1em;
    font-weight: bold;
}

.scroll{
    width: 100%; 
    max-height: 500px; 
    overflow: scroll;
    overflow-x: hidden;
}
p.damagedFish{
    float: right;
    color: #330000;
    margin-right: 7px;
    margin-bottom: 2px;
}

p.bdName{
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 20%;
    float: right;
}
p {
    margin-top: 2%;
    margin-bottom: 0px;
}
