<div class="body">
<div id="fixed">
   <div> <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"Auction Platform" | translate}}</h3></div>

<div class="row">
    <div class="col-xs-6">
        <button (click)="onAddFish()" class="btn btn-sm btn-addfish left" *ngIf="boatdriver == true">{{ "Add Fish" | translate }}</button>
    </div>
    <div class="right col-xs-6">
        <button (click)="onClickHistory()" class="btn btn-sm btn-history">{{ "History" | translate }}</button>
    </div>
</div>
 </div>
<div class="scroll">
    <div class="row">
        <div class="content">
            <p class="errmsg" *ngIf="loadedfishes == null">{{ "No fish Available" | translate }}</p>
            <ul class="list-group" *ngFor="let fish of loadedfishes">
                <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        <h6 class="fishname">{{ fishname[fish.fish_id] }} </h6>
                    </div>
                    <div class="col-xs-6">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="../../assets/Images/{{ fishname[fish.fish_id] }}.jpg" width="100%" height="100%">
                    </div>
                    <div class="col-xs-6">
                        <p>{{ "Quantity" | translate }}  -  {{ fish.fish_size }}KG</p>
                        <p>{{ "Min Price" | translate }}  -   Rs.{{ fish.fish_price }}</p>
                        <p>{{ "Driver" | translate }} - {{ fish.driver }}</p>
                        <p class="damagedFish" *ngIf="fish.damaged == true">{{ "(Damaged)" | translate }}</p>
                        <button (click)="onStartBid(fish.id)" class="btn btn-sm clearfix">{{ boatdriver || boatOwner ? "View Bidding" : "Start Bidding" }}</button>
                        </div>
                </div>
                </li>
                <hr>
            </ul>
        </div>
    </div>
</div>
</div>
