<div class="body">

<a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
<h1 class="header">REGISTER</h1>


<form (ngSubmit)="onSignup(f)" #f="ngForm">
  <div class="form-group col-xs-12">
    <input type="email" 
    class="form-control email" 
    id="email" 
    placeholder="Email"
    name="email" 
    ngModel
    required
    #email="ngModel">
    <span class="help-block errmsg" *ngIf="!email.valid && email.touched">{{ "Please Enter a valid Email!" | translate }}</span>
  </div>
  <div class="form-group col-xs-12">
    <input type="text" 
    class="form-control" 
    id="username" 
    placeholder="Username"
    name="username" 
    ngModel
    required
    #username="ngModel">
    <span class="help-block errmsg" *ngIf="!username.valid && username.touched">{{ "Please Enter a valid Username!" | translate }}</span>
  </div>
  <div class="form-group col-xs-12">
    <input type="password" 
    class="form-control" 
    id="password" 
    placeholder="Password"
    name="password" 
    ngModel
    required
    minlength="8"
    #password="ngModel">
    <span class="help-block errmsg" *ngIf="!password.valid && password.touched">{{ "Password should be minimum 8 letters length!" | translate }}</span>
  </div> 
  <!-- 
  <div class="form-group">
    <input type="text" 
    class="form-control" 
    id="number" 
    placeholder="Mobile Number"
    name="number" 
    ngModel
    required
    pattern="^[0-9]*$"
    maxlength="10"
    minlength="10"
    #number="ngModel">
    <span class="help-block err" *ngIf="!number.valid && number.touched">{{ "Please Enter 10 Digit Mobile number!" | translate }}</span>
  </div> -->

  <div class="form-group">
    <button type="submit" class="btn btn-sm" [disabled]="!f.valid">{{ "Register" | translate }}</button>
    <button type="button" class="btn btn-sm" (click)="onClear(f)">{{ "Clear" | translate }}</button>
    <span class="help-block errmsg" *ngIf="msg == true">{{ "Username Already Exists / Invalid Email" | translate }}</span>
  
  </div>
  <div class="form-group">
    <p class="text">{{ "Already have an account?" | translate }}</p>
    <button type="button" class="btn btn-sm continue" (click)="onContinue()">{{ "Continue" | translate }}</button>
  </div>

</form>

</div>