<div class="body">
   <div> <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"History" | translate}}</h3></div>

 <div class="scroll">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <p class="errmsg" *ngIf="loadedfishes == null">{{ "No History Available" | translate }}</p>
            <ul class="list-group" *ngFor="let fish of loadedfishes">
                <li class="list-group-item">
                   <div class="row">
                        <div class="col-xs-6">
                            <img src="../../assets/Images/{{ fishname[fish.fish_id] }}.jpg" width="100%" height="100%">
                            <h5 class="fishname">{{ fishname[fish.fish_id] }} </h5>
                        </div>
                        <!-- <div class="middle"></div> -->
                        <div class="col-xs-6">
                            <div class="row">
                                <p>{{ "Driver" | translate }}   -   {{ fish.driver }}</p>
                            </div>
                            <div class="row">
                                <p>{{ "Quantity" | translate }}   -   {{ fish.fish_size }}</p>
                            </div>
                            <div class="row">
                                <p>{{ "Min Price" | translate }}   -   Rs. {{ fish.fish_price }}</p>
                            </div>
                            <div class="row">
                                <p class="damaged" *ngIf="fish.damaged == true">{{ "(Damaged)" | translate }}</p>
                            </div>
                            <div class="row">
                                <button (click)="onViewMore(fish.id)" class="btn btn-sm">{{ "View More" | translate }}</button>
                            </div>
                        </div>
                   </div>
                </li>
                <hr>
            </ul>
        </div>
    </div>
 </div>


</div>