<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"History" | translate}}</h3>

 <div class="scroll">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-3">
            <p class="errmsg" *ngIf="loadedfishes == null">{{ "No History Available" | translate }}</p>
            <ul class="list-group" *ngFor="let fish of loadedfishes">
                <li class="list-group-item" *ngIf="fish.status == false">
                   <div class="row">
                        <div class="left">
                            <img src="../../assets/Images/fish.png" width="95%" height="80%">
                            <p>{{ "Fish Name" | translate }} {{ fish.fish_id | translate }}</p>
                        </div>
                        <div class="middle"></div>
                        <div class="right">
                            <p>{{ "Fish Owner" | translate }} {{ fish.owner }}</p>
                            <p>{{ "Min Price" | translate }} - {{ fish.fish_price }}</p>
                            <button (click)="onViewMore(fish.id)" class="btn btn-sm">{{ "View More" | translate }}</button>
                        </div>
                   </div>
                </li>
            </ul>
        </div>
    </div>
 </div>
<div><img class="footer" src="../../assets/Images/wave_02.png"></div>

</div>