.errmsg{
    color: orange;
    /* font-family: 'century Gothic'; */
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    font-weight: 100;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    font-size: 1em;
    background-color: black;
    min-height: 100vh;
    /* font-family: 'century Gothic'; */
    font-weight: bold;
    position: relative;
    height: auto;
}

.backbtn{
    margin: 2%;
    vertical-align: middle;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.line {
  border: solid white;
  border-width: 0 0px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: -10px;
}

.header{
    /* font-family: 'century Gothic'; */
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 66%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

button {
    background-color: #1cda1c;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-weight: 100;
    /* padding: 5% 10%; */
    margin-top: 5%;
    /* float: right; */
  }


.list-group-item{
    /* border-radius: 10px; */
    /* background-color: #1C2833; */
    background-color: black;
    color: #bdbdbd;
    padding-left: 5%;
    border: none;
    font-weight: 100;
}

.fishname{
    color: #bdbdbd;
    /* width: 80%; */
    /* margin: 1% 10%; */
    text-align: center;
    /* font-weight: bold; */
}

div.left{
    float: left;
    text-align: center;
    width: 50%;
}

div.middle{
    float: left;
    width: 5%;
    border-left: thin solid grey;
}

div.right{
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 5%;
}

p.damaged{
    float: right;
    color: #636363;
    margin-right: 7px;
    margin-bottom: 2px;
}

.scroll{
    width: 100%; 
    max-height: 500px; 
    overflow: scroll;
    overflow-x: hidden; 
}

hr{
    border-top: 1px solid #636363;
}

p{
    margin: 0px;
}
