<div class="body" *ngIf="boatOwner == true">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
      <h3 class="header">{{ "ADD BOAT" | translate}}</h3>
  
  <form (ngSubmit)="addBoat(f)" #f="ngForm">
    <span class="help-block msg" *ngIf="success == true">{{ "Added Successfully!!" | translate }}</span>
    <span class="help-block errmsg" *ngIf="msg == true">{{ "Failed to add Try again!" | translate }}</span>

  <div class="form-group col-xs-12">
    <label for="name">{{ "Boat Name" | translate }}</label>
    <div class="input-group mb-3">
      <input 
      type="text" 
      class="form-control" 
      id="name" 
      placeholder="Boat Name" 
      name="name"
      ngModel 
      required 
      #name="ngModel"
      />
    </div>
    <span class="help-block errmsg" *ngIf="!name.valid && name.touched">{{
      "Please Enter a valid Name!" | translate
    }}</span>
  </div>

  <div class="form-group col-xs-12">
    <label for="number">{{ "Boat Number" | translate }}</label>
    <div class="input-group mb-3">
      <input 
      type="text" 
      class="form-control" 
      id="number" 
      placeholder="Boat Number" 
      name="number"
      ngModel 
      required 
      #number="ngModel"
      />
    </div>
    <span class="help-block errmsg" *ngIf="!number.valid && number.touched">{{
      "Please Enter a valid Data!" | translate
    }}</span>
  </div>

  <div class="form-group col-xs-12">
    <label for="driver">{{ "Boat Driver" | translate }}</label>
    <div class="input-group mb-3">
      <input 
      type="text" 
      class="form-control" 
      id="driver" 
      placeholder="Boat Driver"
      name="driver"
      ngModel
      #driver="ngModel"
      />
    </div>
    <span class="help-block errmsg" *ngIf="!driver.valid">{{
      "Please Enter a valid Data!" | translate
    }}</span>
  </div>

  <div class="form-group col-xs-12">
    <label for="description">{{ "Description" | translate }}</label>
    <div class="input-group mb-3">
      <input 
      type="text" 
      class="form-control" 
      id="description" 
      placeholder="Description" 
      name="description"
      ngModel
      #description="ngModel"
      />
    </div>
    <span class="help-block errmsg" *ngIf="!description.valid">{{
      "Please Enter a valid Data!" | translate
    }}</span>
  </div>

  <button type="submit" class="btn btn-sm" [disabled]="!f.valid">
    {{ "Save" | translate }}
  </button>
  
</form>

</div>