<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{ "Quote Details" | translate }}</h3>
    <div class="row">
        <div class="contents">
            <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-3">
                <div class="row">
                    <h6 class="fishname">{{ fishname[fishid] }}</h6>
                    <span *ngIf="damaged == true">{{ "(Damaged)" | translate }}</span>
                </div>
                <hr>
                <div class="row">
                    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h3 class="left">{{ winnerName }}</h3>
                    </div>
                    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h3>{{ winAmount }}</h3>
                    </div>
                </div>
                <hr>
                <form (ngSubmit)="quoteDetails(f)" #f="ngForm">
                    <span class="help-block errmsg" *ngIf="errmsg==true">{{ "Please select Winner!!" | translate }}</span>
                    <div class="scroll">
                        <div class="form-group">
                            <ul class="list-group">
                            <li *ngFor="let quote of loadedQuotes">
                                <div class="row">
                                    <div class="col">
                                        <div class="col col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <input type="radio" id="{{ quote.id }}" class="winner" name="winner" value="{{ quote.id }}" ngModel checked>
                                        </div>
                                        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <p>{{ quote.quoteUser }}</p>
                                        </div>
                                        <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <p>{{ quote.createdDate | date : 'hh:mm:ss' }}</p>
                                        </div>
                                        <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <p>{{ quote.quoteAmount }}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            </ul>
                        </div>
                    </div>  
                    <button type="submit" class="btn btn-sm btn-done">
                        {{ "Done" | translate }}
                    </button>
                </form>
                  
            </div>
        </div>
    </div>
</div>
    
