.errmsg{
    color: orange;
    /* font-family: 'century Gothic'; */
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    font-weight: 100;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    font-size: 1em;
    background-color: black;
    /* font-family: 'century Gothic'; */
    position: relative;
    padding-top: 20%;
    height: calc(100vh - 51px);
    /* padding-bottom: 100%; */
}

.header{
    /* font-family: 'century Gothic'; */
    font-size: 2.5rem;
    color: white;
    display: inline-block;
    text-decoration: underline;
    width: 100%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

.contents{
    background-color: black;
    color: #bdbdbd;
    font-weight: 100;
    display: block;
    border: 2px solid #636363;
    border-radius: 10px;
    width: 80%;
    margin: 2% 10%;
    text-align: center;
    font-size: 1em;
    padding: 3% 5%;

    
    /* height: auto;
    background-image: url("../../../assets/Images/WinneramonutBg-01.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 100;
     */
    /* float: right; */
}

.left{
    float: left;
    color: #bdbdbd;
    margin-top: 5%;
}

p{
    margin: 0%;
}

.winamount{
    color: rgb(17, 155, 155);
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    /* min-height: 100px;
    padding-top: 30%; */
}

.name{
    font-size: 1.5em;
}

.details{
    margin: 10% 0%;
}

button {
    letter-spacing: 1.2px;
    background-color: #1cda1c;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    font-weight: 100;
    border-radius: 10px;
    margin: 0 35%;
}
.center{
    text-align: center;
}

.btn-close{
    background-color: white;
    border: 1px solid whitesmoke;
    padding: 2px;
    border-radius: 50%;
    width: 32px;
    height: 27px;
    padding-bottom: 8%;
    display: block;
    float: right;
    margin-top: -5%;
    margin-right: -15%;
    opacity: 1;
}
.btn-close:before, .btn-close:after {
    position: absolute;
    /* left: 16px; */
    content: " ";
    height: 20px;
    width: 2px;
    background-color: #333;
}
.btn-close:before {
    transform: rotate(45deg);
}
.btn-close:after {
    transform: rotate(-45deg);
}
  


