.errmsg{
    color: orange;
    font-family: 'century Gothic';
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    background-color: rgba(0,0,0,0.8);
    font-family: 'century Gothic';
    position: relative;
    padding-top: 20%;
    height: calc(100vh - 160px);
    /* padding-bottom: 100%; */
}

.header{
    font-family: 'century Gothic';
    font-size: 1.5rem;
    color: darkslateblue;
    display: inline-block;
    width: 100%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

.contents{
    height: auto;
    background-image: url("../../../assets/Images/WinneramonutBg-01.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    text-align: right;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 1em;
    width: 80%;
    padding: 3% 5%;
    margin: 2% 10%;
    float: right;
}

.left{
    float: left;
    color: black;
    font-weight: 500;
    margin-top: 5%;
}

p{
    margin: 0%;
}

.winamount{
    color: rgb(17, 155, 155);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    min-height: 100px;
    padding-top: 30%;
}

p.name{
    font-size: 1.5em;
}

.details{
    margin: 10% 0%;
}

button {
    background-color: white;
    color: grey;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
    height: 3em;
    /* padding: 5% 0%;
    margin: 0% 10%; */
}

.btn-close{
    background-color: white;
    border: 1px solid whitesmoke;
    padding: 2px;
    border-radius: 50%;
    width: 32px;
    height: 27px;
    padding-bottom: 8%;
    display: block;
    float: right;
    margin-top: -5%;
    margin-right: -15%;
    opacity: 1;
}
.btn-close:before, .btn-close:after {
    position: absolute;
    /* left: 16px; */
    content: " ";
    height: 20px;
    width: 2px;
    background-color: #333;
}
.btn-close:before {
    transform: rotate(45deg);
}
.btn-close:after {
    transform: rotate(-45deg);
}
  


