<div class="body">
    <div class="row">
        <div class="contents">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <a (click)="onClose()" tooltip="close" class="btn btn-sm btn-close"></a>
                <p class="header">{{ "Winner Details" | translate}}</p>
                <p class="winamount" *ngIf="boatowner == true">Rs. {{ winAmount }}</p>
                <div class="details">
                    <p class="left">{{ "Winner Username" | translate}}: </p><p class="name" *ngIf="boatowner == true">{{ winnerName }}</p>
                    <hr>
                    <button (click)="onFinish()">{{ "Finish" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>