<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"ATTENDENCE" | translate}}</h3>
    <div class="row">
        <button (click)="onAddCrew()" class="btn btn-lg crew-btn">{{ "Add Crew" | translate }}</button>
        <span class="help-block" *ngIf="success==true">{{ "Successfully Added Attendence" | translate}}</span>
        <div class="contents">
            <div class="col-md-offset-3">
                <form (ngSubmit)="addAttendence(f)" #f="ngForm">
                    <div class="scroll">
                        <div class="form-group">
                            <ul class="list-group">
                            <li *ngFor="let member of loadedMember;">
                                <div class="attendee">
                                    <input type="checkbox" [(ngModel)]="member.selected" id="id_{{ member.id }}" name="selected"><label for="id_{{ member.id }}" class="left">{{ member.name }}</label>
                                    <input style="display: none;" name="member_{{ member.id }}" [(ngModel)]="member.id">
                                    <input style="display: none;" name="name_{{ member.id }}" [(ngModel)]="member.name">
                                    <input style="display: none;" name="age_{{ member.id }}" [(ngModel)]="member.age">
                                     <input type="text" class="right" name="salary_{{ member.id }}" [(ngModel)]="member.salary">
                                </div>
                                <hr>
                            </li>
                            </ul>
                        </div>
                    </div>  
                    <button type="submit" class="btn btn-sm btn-done">{{ "Done" | translate }}</button>
                </form> 
            </div>
        </div>
    </div>
</div>
    

