<h1>History Details</h1>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <br>
        <a (click)="onclick()" class="btn btn-primary">Back</a><br><br>
        <ul class="list-group">
            <li class="list-group-item">
                <h6>Fish ID {{ fishid }}</h6>
                <p>Fish Quantity - <b>{{ size }}</b></p>
                <p>Min Price - <b>{{ minprice }}</b></p>
                <p>Boat Driver - <b>{{ owner }}</b></p>
                <p>Win Amount - <b>{{ winAmount }}</b></p>
                <p>Winner Name - <b>{{ winnerName }}</b></p>
            </li>
            
        </ul>
    </div>
</div>
    

   



