<div class="body">
<a (click)="onClick()" class="btn backbtn"></a>
<h3 class="header">{{"History Details" | translate}}</h3>
<div class="row">
    <div class="contents">
        <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-3">

            <h6 class="fishname">{{ "Fish Name" | translate }} {{ fishid }}</h6>
            <img class="image" src="../../../assets/Images/fish.png" width="100%" height="100%"/>
            <p class="left">{{ "Fish Quantity" | translate }}</p> <p>{{ size }}</p>
            <hr>
            <p class="left">{{ "Min Price" | translate }}</p> <p>{{ minprice }}</p>
            <hr>
            <p class="left">{{ "Boat Driver" | translate }}</p> <p>{{ owner }}</p>
            <hr>
            <p class="left">{{ "Win Amount" | translate }}</p> <p>{{ winAmount }}</p>
            <hr>
            <p class="left">{{ "Winner Name" | translate }}</p> <p>{{ winnerName }}</p>

        </div>
    </div>
</div>
<div class="footer"></div>
    
</div>
