<div class="body" *ngIf="boatDriver == true">
   <div> <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
      <h3 class="header">{{ "ADD BOAT CREW" | translate}}</h3></div>
  
  <form (ngSubmit)="addCrew(f)" #f="ngForm">
    <span class="help-block msg" *ngIf="success == true">{{ "Added Successfully!!" | translate }}</span>
    <span class="help-block errmsg" *ngIf="msg == true">{{ "Failed to add Try again!" | translate }}</span>

  <div class="form-group">
    <label for="name">{{ "Name" | translate }}</label>
      <input 
      type="text" 
      class="form-control" 
      id="name" 
      placeholder="Name" 
      name="name"
      ngModel 
      required 
      #name="ngModel"
      />
    <span class="help-block errmsg" *ngIf="!name.valid && name.touched">{{
      "Please Enter a valid Name!" | translate
    }}</span>
  </div>

  <div class="form-group">
    <label for="number">{{ "Phone Number" | translate }}</label>
      <input 
      type="number" 
      class="form-control" 
      id="number" 
      placeholder="Phone Number" 
      maxlength="10"
      name="number"
      ngModel 
      required 
      #number="ngModel"
      />
    <span class="help-block errmsg" *ngIf="!number.valid && number.touched">{{
      "Please Enter a valid Mobile number!" | translate
    }}</span>
  </div>

  <div class="form-group">
    <label for="adhar">{{ "Adhar Number" | translate }}</label>
      <input 
      type="number" 
      class="form-control" 
      id="adhar" 
      placeholder="Adhar Number" 
      maxlength="12"
      name="adhar"
      ngModel 
      required 
      #adhar="ngModel"
      />
    <span class="help-block errmsg" *ngIf="!adhar.valid && adhar.touched">{{
      "Please Enter a valid Adhar number!" | translate
    }}</span>
  </div>

  <div class="form-group">
    <label for="age">{{ "Age" | translate }}</label>
      <input 
      type="number" 
      class="form-control" 
      id="age" 
      placeholder="Age" 
      maxlength="3"
      name="age"
      ngModel
      required
      #age="ngModel"
      />
    <span class="help-block errmsg" *ngIf="!age.valid && age.touched">{{
      "Please Enter a valid Age!" | translate
    }}</span>
  </div>

  <div class="form-group">
    <label for="salary">{{ "Salary" | translate }}</label>
      <input 
      type="number" 
      class="form-control" 
      id="salary" 
      placeholder="Salary" 
      pattern="^[0-9]*$"
      name="salary"
      ngModel
      #salary="ngModel"
      />
    <span class="help-block errmsg" *ngIf="!salary.valid">{{
      "Please Enter a valid number!" | translate
    }}</span>
  </div>

    <button type="submit" class="btn btn-sm submit" [disabled]="!f.valid">
      {{ "Save" | translate }}
    </button>
  
</form>

</div>