<div class="body">
    <!-- <p *ngIf="loggedIn == true" class="username">{{ user }}</p> -->

    <div class="group-btn">
        <div class="row">
            <div class="col">
                <button class="btn btn-lg" routerLink="myboats" [disabled]="loggedIn != true || customer == true"><img src="../../assets/Images/ic_03.png" height="70%" width="70%" /></button>
                <button class="btn btn-lg right" (click)="onStart()" [disabled]="loggedIn != true"><img src="../../assets/Images/ic_07.png" height="70%" width="70%" /></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="btn-name">{{ "My Boat" | translate }}</span>
                <span class="btn-name right">{{ "Auction" | translate }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg" routerLink="#"><img src="../../assets/Images/ic_16.png" height="70%" width="70%" /></button>
                <button class="btn btn-lg right" routerLink="#"><img src="../../assets/Images/ic_14.png" height="70%" width="70%" /></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="btn-name">{{ "Weather" | translate }}</span>
                <span class="btn-name right">{{ "Compass" | translate }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg" routerLink="#"><img src="../../assets/Images/ic_24.png" height="70%" width="70%" /></button>
                <button class="btn btn-lg right" routerLink="calculator"><img src="../../assets/Images/ic_27.png" height="70%" width="70%" /></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="btn-name">{{ "Blog" | translate }}</span>
                <span class="btn-name right" style="margin-right: 18%;">{{ "Calculator" | translate }}</span>
            </div>
        </div>
        </div>
    <!-- <p class="errmsg" *ngIf="msg == true">{{ "Please Login Before Start!" | translate }}</p> -->
</div>