<div class="body">
    <p *ngIf="loggedIn == true" class="username">{{ user }}</p>

    <div class="group-btn">
        <button *ngIf="loggedIn == false" class="btn btn-lg login" routerLink="login">{{ "Login" | translate }}</button>
        <button *ngIf="loggedIn == false" class="btn btn-lg register" routerLink="register">{{ "Register" | translate }}</button>
        <button class="btn btn-lg" routerLink="myboats">{{ "My Boat" | translate }}</button>
        <button *ngIf="loggedIn == true" class="btn btn-lg start" (click)="onStart()">{{ "Auction" | translate }}</button>
    </div>
    <p class="errmsg" *ngIf="msg == true">{{ "Please Login Before Start!" | translate }}</p>
</div>