.errmsg{
    color: orangered;
}

.body{
    background-color: black;
    min-height: calc(100vh - 142px);
    position: relative;
    height: auto;
}
p.username{
    top: 0px;
    float: right;
    padding-right: 2%;
    font-size: 1.5em;
    color: whitesmoke;
}

button {
    background-color: #339933;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 25%;
    height: 100px;
    margin-left: 18%;
}

button.right{
    float: right;
    margin-right: 18%;
    margin-left: 0%;
}

span.right{
    float: right;
    margin-right: 22%;
    margin-left: 0%;
}

.btn-name{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-left: 22%;
    margin-bottom: 10%;
}

.group-btn{
    padding-top: 10%;
}


