.errmsg{
    color: orangered;
}

.body{
    background-image: url("../../assets/Images/FisheryBackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    height: auto;
}
p.username{
    top: 0px;
    float: right;
    padding-right: 2%;
    font-size: 1.5em;
    color: whitesmoke
}

button {
    background-color: #333399;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 40%;
}

.group-btn{
    padding-top: 130%;
}
.btn-lg {
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
    margin-top: 5%;
}

