<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <ul class="list-group">
            <li class="list-group-item">
                <h6>Fish ID {{ fishid }}</h6>
                <p>Fish Quantity {{ size }}</p>
                <p>Min Price {{ minprice }}</p>
            </li>
        </ul>
    </div>
</div>
    

<form (ngSubmit)="Done(f)" #f="ngForm">
    <div class="form-group col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{ bid }}</h1>
            </li>
        </ul>
        <button type="submit" class="btn btn-success">
            {{ "Done" | translate }}
        </button>
    </div>
</form>
<hr>

<form (ngSubmit)="Quote(q)" #q="ngForm">
    <div class="form-group col-xs-12">
        <input
            type="text"
            class="form-control"
            placeholder="Enter amount"
            name="quoteAmount"
            pattern="^[0-9]*$"
            maxlength="8"
            ngModel
            required
            #amount="ngModel"
        />
        <span class="help-block" *ngIf="!amount.valid && amount.touched">
          {{ "Please Enter a valid Amount!" | translate }}
        </span>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ "Quote" | translate }}
    </button>
</form>
