.errmsg{
    color: orange;
    font-family: 'century Gothic';
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    background-image: url("../../../assets/Images/LoginBg-01.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    min-height: 100%;
    font-family: 'century Gothic';
    font-weight: bold;
    position: relative;
    height: auto;
}

.backbtn{
    margin: 2%;
    margin-left: 10%;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.line {
  border: solid white;
  border-width: 0 0px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: -10px;
}

.header{
    font-family: 'century Gothic';
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 60%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

.contents{
    height: auto;
    background-color: white;
    color: black;
    border: none;
    border-radius: 12px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    padding: 3% 5%;
    margin: 0% 10%;
}

.left{
    float: left;
}


p{
    display: inline-block;
    margin: 0%;
}

.image{
    margin-bottom: 10%;
}

.fishname{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

button {
    background-color: #333399;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    width: 30%;
    padding: 0% 3%;
    float: right;
}
.btn-done{
    float: left;
}

input{
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    color: black;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    padding: 0% 5%;
    font-weight: bold;
    width: 100%;
}

input#price {
    margin-left: 0%;
    margin-right: 0%;
}
.extras-left {
    box-shadow: 0px 0px 5px grey;
    border: none;
    margin-left: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.extras-right {
    box-shadow: 0px 0px 5px grey;
    border: none;
    margin-right: 10%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer{
    
    width: 100%;
}

