<div class="body">
    <a (click)="onClick()" class="btn backbtn"><i class="arrow"></i><i class="line"></i></a>
    <h3 class="header">{{"Calculation Details" | translate}}</h3>
    <div class="row">
        <div class="contents">
            <div class="scroll">
                <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-3">
                    <div class="row"><span class="left">{{ "Season ID" | translate }} </span> <span>{{ seasonID }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Trip ID" | translate }} </span> <span>{{ trip }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Boat ID" | translate }} </span> <span>{{ boat }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Boat Driver" | translate }}</span> <span>{{ driver }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "No. of crew" | translate }}</span> <span>{{ crewCount }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Water" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ waterQty }}</span> <span>{{ water }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "LPG" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ LPGQty }}</span> <span>{{ LPG }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Ration" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ rationQty }}</span> <span>{{ ration }}</span>
                    </div><hr>
                    <div *ngFor="let extra of loadedExtracostBD">
                        <div class="row"><span class="left">{{ extra.name }} </span></div>
                        <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                        <div class="row"><span class="left qty">{{ extra.qty }}</span> <span>{{ extra.cost }}</span>
                        </div><hr>
                    </div>
                    <div class="row"><span class="left">{{ "Total (Boat Driver)" | translate }}</span> <span>{{ totalBd }}</span>
                    </div><hr>
                    
                    <div class="row"><span class="left">{{ "Diesel" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ dieselQty }}</span> <span>{{ diesel }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Ice" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                    <div class="row"><span class="left qty">{{ iceQty }}</span> <span>{{ ice }}</span>
                    </div><hr>
                    <div *ngIf="maintainance!=null">
                        <div class="row"><span class="left">{{ "Maintainance" | translate }}</span> <span>{{ maintainance }}</span>
                        </div><hr>
                    </div>
                    <div *ngFor="let extras of loadedExtracostOwner">
                        <div class="row"><span class="left">{{ extras.name }} </span></div>
                        <div class="row"><span class="left qty">{{ "Quantity" | translate }} </span> <span>{{ "Cost" | translate }} </span></div>
                        <div class="row"><span class="left qty">{{ extras.qty }}</span> <span>{{ extras.cost }}</span>
                        </div><hr>
                    </div>
                    <div class="row"><span class="left">{{ "Total (Owner)" | translate }}</span> <span>{{ totalOwner }}</span>
                    </div><hr>
                    <div class="row"><span class="left">{{ "Auction Amount" | translate }}</span> <span>{{ auctionTotal }}</span>
                    </div><hr>
                    <form (ngSubmit)="salary(f)" #f="ngForm">
                        <div class="row">
                            <span class="left">{{ "Driver Salary" | translate }} (in percent) </span>
                        </div>
                        <div class="row">
                            <input 
                                type="number" 
                                class="form-control left" 
                                id="driverSalary"  
                                name="driverSalary"
                                ngModel 
                                #driversal="ngModel"
                            />
                        </div>
                        <div class="row ">
                            <span class="left">{{ "Unload Crew Salary" | translate }} </span>
                        </div>
                        <div class="radio" style="width: 100%;">
                            <label><input type="radio" checked="checked" id="percentage" name="optradio" value="percent" ngModel #type="ngModel">Percentage</label>
                        </div>
                        <div class="radio" style="width: 100%;">
                            <label><input type="radio" id="lumpsum" name="optradio" value="lumpsum" ngModel #type="ngModel">Lump - Sum</label>
                        </div>
                        <div class="row">
                            <input 
                                type="number" 
                                class="form-control left" 
                                id="unloadCrewSalary"  
                                name="unloadCrewSalary"
                                ngModel
                                #unloadCrewSal="ngModel"
                            />
                            <span class="errmsg" *ngIf="errmsg==true">{{ "Wrong Percent Value!! Please Check" | translate }}</span>
                            <button type="submit" style="width: 50%; margin: 2% 25%;">Check</button>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <span class="left">{{ "Driver" | translate }} ({{driversal.value}}%)</span>
                        <span>{{ driverSalary }}</span>
                    </div>
                    <div class="row">
                        <span class="left">{{ "Dock Crew" | translate }} ({{unloadCrewSal.value}} {{type.value}})</span>
                        <span>{{ dockUnloadCrewSalary }}</span>
                    </div>
                    
                    <div class="row">
                        <span class="left">{{ "Desk Crew" | translate }} ({{unloadCrewSal.value}} {{type.value}})</span>
                        <span>{{ deskUnloadCrewSalary }}</span>
                    </div>
                    <hr>
                    <div class="row"><span class="left">{{ "Total Salary" | translate }}</span> <span>{{ totalSalary }}</span>
                    </div><hr>
                    <div class="row">
                        <button (click)="calculateBonus()" class="left">{{ "Bonus" | translate }}</button> <span>{{ bonus }}</span>
                    </div><hr>
                    <div class="row">
                        <button (click)="calculateProfit()" class="left">{{ "Profit" | translate }}</button> <span>{{ profit }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    