.errmsg{
    color: #ff0000;
    /* font-family: 'century Gothic'; */
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    font-weight: 100;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    font-size: 1em;
    background-color: black;
    min-height: 100vh;
    /* font-family: 'century Gothic'; */
    /* font-weight: bold; */
    position: relative;
    height: auto;
}

.backbtn{
    margin: 2%;
    vertical-align: middle;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.line {
  border: solid white;
  border-width: 0 0px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: -10px;
}

.header{
    /* font-family: 'century Gothic'; */
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 66%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

.contents{
    overflow-y: auto;
    height: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
    width: 80%;
    padding: 3% 5%;
    margin: 2% 10%;
}

.left{
    float: left;
    color: #bdbdbd;
    /* font-weight: bold; */
    padding-left: 2%;
    font-size: 1em;
}

.name{
    text-decoration: underline;
}

span{
    display: inline-block;
    margin: 0%;
}

button {
    background-color: #1cda1c;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    /* display: inline-block; */
    /* font-weight: bold; */
    /* width: 30%; */
    /* padding: 2% 2%; */
    /* float: right; */
}

.btn-left{
    float: left;
    color: white;
    font-weight: 100;
    font-size: 1em;
}

.scroll{
    width: 100%; 
    max-height: 500px; 
    overflow: scroll;
    overflow-x: hidden;
}

input[type="number"] {
    width: 100%;
    margin: 4% 0%;
  }


div.radio{
    font-weight: 100;
    text-align: left;
}

.qty{
    font-weight: normal;
}

.row.green{
    color: #00ff00;
    font-weight: bold;
    border-left: 3px solid #00ff00;
}

.row.red{
    color: red;
    font-weight: bold;
    border-left: 3px solid red;
}

.row {
    border-left: 3px solid white;
    margin-left: 0px;
    margin-right: 0px;
}

.noborder{
    border: none;
}

hr {
    border-top: 1px solid #636363;
}