.errmsg{
    color: #ff0000;
    font-family: 'century Gothic';
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.body{
    background-color: black;
    min-height: 100vh;
    font-family: 'century Gothic';
    /* font-weight: bold; */
    position: relative;
    height: auto;
}

.backbtn{
    margin: 2%;
    vertical-align: middle;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.line {
  border: solid white;
  border-width: 0 0px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-left: -10px;
}

.header{
    font-family: 'century Gothic';
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    width: 66%;
    padding: 3%;
    margin: 2%;
    text-align: center;
}

.contents{
    overflow-y: auto;
    height: auto;
    background-color: #1C2833;
    color: white;
    border: none;
    border-radius: 12px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    /* font-weight: bold; */
    width: 80%;
    padding: 3% 5%;
    margin: 2% 10%;
}

.left{
    float: left;
    font-weight: bold;
    font-size: 1em;
}

span{
    display: inline-block;
    margin: 0%;
}

button {
    background-color: white;
    color: grey;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 1em;
    /* font-weight: bold; */
    width: 30%;
    padding: 2% 2%;
    /* float: right; */
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.scroll{
    width: 100%; 
    max-height: 500px; 
    overflow: scroll;
    overflow-x: hidden;
}

input[type="number"] {
    width: 100%;
    margin: 4% 0%;
  }

hr {
    border-top: 1px solid #ffffff26;
}

div.radio{
    margin-top: 5%;
    text-align: left;
}

.qty{
    font-weight: normal;
}